name: "Update Gradle Wrapper"

on:
  workflow_dispatch:
  schedule:
    - cron: '03 12 * * 1'

jobs:
  analyze:
    name: Update Gradle Wrapper
    uses: cech12/MinecraftModActions/.github/workflows/update-gradle-wrapper.yml@main
    with:
      java-version: 21
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
